body{
	margin:0;
	font-family: 'WorkSans-Regular';
}
body a {
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  text-decoration: none;
}
.header-area {
  background: none repeat scroll 0 0 #f4f4f4;
}
.user-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.user-menu li {
  display: inline-block;
}
.user-menu li a {
  display: block;
  font-size: 13px;
  margin-right: 5px;
  padding: 10px;
}
.header-area a {
  color: #888;
}
.user-menu li a i.fa {
  margin-right: 5px;
}
.header-right ul.list-inline li a {
  display: block;
  padding: 9px;
}
.header-right ul.list-inline li ul {
  border: medium none;
  border-radius: 0;
  left: 50%;
  margin-left: -50px;
  min-width: 100px;
  text-align: center;
}
.header-right ul.list-inline li ul a {
  padding: 5px 15px;
}
.user-menu, .header-right ul.list-inline {
  text-align: center;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.header-right ul.list-inline {
  margin: 0;
  text-align: right;
}
.user-menu, .header-right ul.list-inline {
  text-align: center;
}
.dropdown {
  position: relative;
}
.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.top-nav {
  float: left;
  padding: 10px;
}
.right_bt span {
  width: 20px;
  height: 19px;
  display: block;
  background: url(../images/nav-icon.png) no-repeat 0px 0px;
}
.box {
  position: absolute;
  top: -800px;
  width: 100%;
  color: #7F7F7F;
  margin: auto;
  padding: 0px;
  z-index: 999999;
  left: 0px;
}
.box_content_center {
  background: #171717;
  margin-top: 40px;
  width: 18%;
  position: relative;
  right: 0;
  max-height: 700px;
}
.form_content {
  padding-left: 3em;
}
.menu_box_list {
  display: inline-block;
  padding: 1em 0 0 0;
}
.menu_box_list ul {
  margin: 0;
  padding: 0;
}
.menu_box_list ul li {
  display: block;
}
.menu_box_list ul a {
  display: block;
  padding: 0.2em 0em;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #686868;
  font-size: 1.5em;
  text-align: center;
}
.menu_box_list li a span:hover, .menu_box_list li.active a {
  color: #FFF;
}
a.boxclose {
  cursor: pointer;
  text-align: center;
  display: block;
  position: absolute;
  left: 100px;
}
.boxclose span {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(../images/close-icon.png) no-repeat -3px -1px;
}
footer {
  color: #999999;
  background-color: #222222;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
footer .top-footer {
  background-color: #FD0005;
  padding: 20px 20px 10px;
  text-align: center;
}
footer ul {
  padding: 0;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
footer ul li {
  list-style: none;
}
footer .top-footer a {
  color: #fff;
  margin: 10px;
  font-weight: bold;
}
footer .wrap-footer {
  padding-top: 40px;
  background-color: #222;
}
.wrap-footer .container1>.row:not(.footer-banner-wrapper) {
  font-size: 0;
}
.wrap-footer .container1>.row:not(.footer-banner-wrapper)>* {
  font-size: 14px;
}
footer .col-footer {
  margin: 10px 0 30px;
}
.footer-title {
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: -5px;
  padding-left: 13px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
.footer-title:before {
  background-color: #FADA1A;
  content: "";
  height: 1em;
  left: 0;
  margin-top: -0.5em;
  position: absolute;
  top: 50%;
  width: 3px;
}
.widget_recent_entries li a {
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(153,153,153,1.0);
  display: inline-block;
  position: relative;
  padding-left: 14px;
  letter-spacing: 1px;
}
.widget_recent_entries li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #999999;
  font-size: 11px;
  margin-bottom: 0;
  padding: 15px 0 16px;
  text-transform: uppercase;
}
footer ul li {
  list-style: none;
}
.widget_recent_entries li a::before {
  content: "";
  font-family: FontAwesome;
  left: 0px;
  line-height: 1;
  margin-top: -5px;
  position: absolute;
  top: 50%;
}
@media (min-width: 992px){
  .col-md-3 {
      width: 25%;
  }
}
input:not([type]), input[type="First name"], input[type="Last name"], input[type="color"], input[type="email"], input[type=" phone number"], input[type="password"],  input[type="retype password"], input[type="url"], input[type="text"], input[type="search"], textarea, .form-control, select {
  border: 2px solid #E7E7E7;
  border-radius: 0 0 0 0;
  box-shadow: none;
  color: #999999;
  display: block;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  line-height: 1.2;
  margin: 10px 0;
  outline: medium none;
  padding: 5px 10px 0;
  transition: border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  width: 100%;
  background-color: transparent;
  border: 2px solid #444444;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 14px;
  color: #fff;
}
.btn-3 {
  background-color: #444444;
  color: #FADA1A;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-right: 7px;
  padding: 10px 20px;
}
footer .bottom-footer {
  background-color: rgba(255,255,255,0.15);
  border-bottom: 3px solid #FFD800;
}
footer .copyright {
  padding: 10px 0;
}
footer .bottom-footer span {
  color: #999999!important;
  margin: 0;
  line-height: 1;
}
footer .bottom-footer .link {
  margin-top: 10px;
}
.link {
  text-align: right;
}
footer .bottom-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
footer a {
  color: #999;
}
footer .bottom-footer .link {
  margin-top: 10px;
}
@media (min-width: 992px){
  .col-md-6 {
      width: 50%;
  }
}
.wptt_TwitterTweets ul.fetched_tweets li.tweets_avatar {
  color: #999999 !important;
}
.wptt_TwitterTweets ul.fetched_tweets li.tweets_avatar {
  background-color: transparent;
  border-radius: 0 0 0 0;
  box-shadow: none;
  color: #444444 !important;
  margin-bottom: 10px;
  padding: 0 0 0 45px !important;
  position: relative;
}
.wptt_TwitterTweets ul.fetched_tweets li.tweets_avatar::before {
  color: rgba(153, 153, 153, 0.5);
  content: "";
  font-family: FontAwesome;
  font-size: 26px;
  left: 0px;
  position: absolute;
  top: 1px;
}
