/* body */
* {
    outline: none;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:not([href]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

/* scroll bar */
#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    z-index: 20;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
    z-index: 20;
}

@keyframes animate {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

/* top-nav */
.topbar {
    position: relative;
    z-index: 4;
    box-shadow: 5px 0 10px rgb(0 0 0 / 50%);
    background: #000000;
    text-decoration: none;
}

.nav-bar {
    position: relative;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

.topbar .top-navbar {
    min-height: 70px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
    .navbar-header {
        width: 270px;
        flex-shrink: 0;
    }
}

.topbar .top-navbar .navbar-header {
    line-height: 65px;
    text-align: center;
}

@media (min-width: 768px) {
    .top-navbar .navbar-header {
        position: absolute;
        top: 0;
        margin: 0 auto;
    }
}

.navbar-brand {
    display: inline-block;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 768px) {
    .navbar-header .navbar-brand {
        padding-top: 0;
    }
}

.topbar .top-navbar .navbar-header .navbar-brand {
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.topbar .top-navbar .navbar-header .navbar-brand b {
    line-height: 70px;
    display: inline-block;
    font-weight: bolder;
}

b img {
    vertical-align: middle;
    border-style: none;
    margin-right: 10px;
}

.navigation {
    position: relative;
    width: 420px;
    height: 70px;
    float: right;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.navigation ul li a .icon {
    position: relative;
    line-height: 75px;
    transition: 0.5s;
    font-size: 30px;
}

.navigation ul li.active a .icon {
    font-size: 20px;
    transform: translateY(-6px);
}

.navigation ul li a .icon img {
    width: 30px;
    height: 30px;
}

.navigation ul li a .text {
    position: absolute;
    font-size: 12px;
    color: #fff;
    bottom: 20px;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);
    top: 57%;
}

.navigation ul li.active a .text {
    transform: scale(1);
}

.indicator {
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation ul li:nth-child(1).active~.indicator {
    background: #f53b57;
    box-shadow: 0 15px 25px #f53b5799;
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    background: #05c46b;
    box-shadow: 0 15px 25px #05c46b99;
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    background: #5d62fb;
    box-shadow: 0 15px 25px #5d62fb99;
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    background: #0fbcf9;
    box-shadow: 0 15px 25px #0fbcf999;
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    background: #ffa801;
    box-shadow: 0 15px 25px #ffa80199;
    transform: translateX(calc(70px * 4));
}

.navigation ul li:nth-child(6).active~.indicator {
    background: #18b6b6;
    box-shadow: 0 15px 25px #18b6b699;
    transform: translateX(calc(70px * 5));
}

/* seach-box */
.search-box {
    position: absolute;
    top: 25px;
    left: 70%;
    width: 270px;
    background: #2f3640;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover>.search-btn {
    background: white;
    text-decoration: none;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    padding: 0 6px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 200px;
    margin-left: 10px;
}

@media (max-width: 1024px) {
    .search-txt {
        width: 0px;
        margin-left: 0;
    }

    .search-box:hover {
        width: 270px;
    }

    .search-box:hover>.search-txt {
        width: 200px;
        padding: 0 6px;
    }

    .search-box {
        width: auto;
        transform: translate(-100%);
        left: 97%;
    }
}

@media (min-width: 992px) {

    .mt-lg-0,
    .my-lg-0 {
        margin-top: 0 !important;
    }
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
}


/* footer */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin: 0px 0px 20px;
    padding: 0px;
}

#footer {
    color: rgb(238, 238, 238);
    font-size: 14px;
    background: rgb(0, 0, 0);
}

#footer .footer-top {
    background: rgb(17, 17, 17);
    padding: 60px 0px 30px;
}

.col-lg-3,
.col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {

    .col-md-6 {
        -webkit-box-flex: 0;
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (min-width: 992px) {

    .col-lg-3 {
        -webkit-box-flex: 0;
        max-width: 25%;
        flex: 0 0 25%;
    }
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    line-height: 1;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0px 0px 20px;
    padding: 2px 0px 2px 10px;
    border-left: 4px solid rgb(24, 210, 110);
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
    font-family: Montserrat, sans-serif;
    color: rgb(238, 238, 238);
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 2px;
}

#footer .footer-top h4::before {
    right: 0px;
    background: rgb(85, 85, 85);
}

#footer .footer-top h4::after {
    width: 60px;
    background: rgb(24, 210, 110);
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#footer .footer-top .footer-links ul li {
    border-bottom: 1px solid rgb(51, 51, 51);
    padding: 10px 0px;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0px;
}

#footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: rgb(221, 221, 221);
}

#footer .footer-top .footer-links ul a {
    color: rgb(238, 238, 238);
}

#footer .ion-ios-arrow-right::before {
    content: "";
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer strong {
    font-weight: bolder;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    color: rgb(238, 238, 238);
    line-height: 1;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    background: rgb(51, 51, 51);
    padding: 8px 0px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

#footer .fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: normal normal normal 1 FontAwesome;
}

#footer input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0px;
}

[role="button"],
a,
area,
button,
#footer input:not([type="range"]),
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    appearance: button;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    width: 65%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 6px 8px;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    width: 35%;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(24, 210, 110);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 6px 0px;
    transition: all 0.3s ease 0s;
}

#footer .copyright {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer p {
    padding: 0px;
    margin: 0px 0px 30px;
}


/* back-to-top */
.back-to-top {
    position: fixed;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    z-index: 11;
    background: rgb(24, 210, 110);
    border-radius: 50%;
    transition: background 1s ease 0s;
    font-weight: 400;
}

.back-to-top .fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: normal normal normal normal normal normal normal 1 FontAwesome;
}

.back-to-top i {
    padding-top: 12px;
    color: rgb(255, 255, 255);
}

.fa-chevron-up::before {
    content: "";
}

/* section */
html,
input,
button,
textarea,
select {
    font-family: "Oracle Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #161513;
}

html,
input,
button,
textarea,
select {
    font-family: "OracleSansVF", "OracleSansVFCyGr", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
}

@media (max-height: 770px),
(max-width: 1344px) {
    html {
        font-size: 56%;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}

body {
    --rw-accent: #5F7D4F;
}

body {
    padding: 0;
    margin: 0;
    color: #161513;
    min-width: 280px;
    font-size: 1.6rem;
    line-height: 1.4;
    opacity: 1 !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .f20w1>div,
body .f20w1>section,
body .f20w1>nav {
    filter: initial;
}

body .f20w1>div,
body .f20w1>section,
body .f20w1>nav {
    opacity: 1;
}

.cwidth {
    clear: both;
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;
}

@media (min-width: 0) and (max-width: 1468px) {
    .cwidth {
        max-width: 1468px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (max-width:1200px) {
    #selector {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

a,
a:link,
a:visited {
    color: #006B8F;
    text-decoration: none;
}

.rw-inpagetabs li.active a:after {
    content: "";
    height: 3px;
    width: 100%;
    bottom: -3px;
    left: 0;
    position: absolute;
    background: var(--rw-accent);
}

.rw-tabmenuflyout,
.rw-inpagetabs+.rw-tabmenu {
    display: none;
}

.rw-tabmenu {
    z-index: 4;
    position: relative;
    margin-bottom: 0.4em;
}

.rw-tabmenulink {
    font-size: 1.6rem;
    font-weight: 700;
    position: relative;
    border-bottom: 3px solid #D4CFCA;
}

.rw-tabmenulink a {
    color: inherit !important;
    padding: 1em 0;
    position: relative;
    display: inline-block;
    margin-right: 3.3em;
}

.rw-tabmenuflyout {
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: -15px;
    background: #fff;
    border: 1px solid #312D2A;
    border-radius: 5px;
    width: calc(100% + 30px);
}

.rw-tabmenuflyout,
.rw-inpagetabs+.rw-tabmenu {
    display: none;
}

.rw-tabmenu li {
    position: relative;
}

.rw-tabmenuflyout li:first-of-type {
    position: relative;
    border-bottom: 3px solid #D4CFCA;
    margin: 0 14px;
}

.rw-tabmenuflyout a {
    font-size: 1.6rem;
    font-weight: 700;
    color: inherit !important;
}

.rw-tabmenuflyout a {
    font-size: 1.6rem;
    font-weight: 700;
    color: inherit !important;
}

.rw-inpagetab {
    min-width: 1100px;
    display: none;
    clear: both;
}

.rw-inpagetab.activetab {
    display: block;
}

@media (min-width: 0) and (max-width: 1476px) {
    .rt01 section:not([class*="0bg"]):not(.bgimg) .cwidth {
        padding-left: 0;
        padding-right: 0;
    }
}

.rc24 h2:not(.rwaccent) {
    margin-bottom: 1.8rem;
    padding-bottom: 0;
}

p {
    margin: 0 0 1.1em;
    line-height: 1.4;
    font-family: consolas;
}

strong {
    font-weight: 700;
}

.rc24:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.rt01:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.rw-inpagetabs {
    opacity: 0;
    width: 100%;
    float: left;
    overflow: hidden;
    height: 4.2em;
    font-size: 1.6rem;
    position: relative;
    margin-bottom: 0.4em;
    white-space: nowrap;
    min-width: 1100px;
}

.rt01 .rw-inpagetabs {
    margin-top: -16px;
}

.rw-inpagetabs.rw-tabinit {
    opacity: 1; 
}

.rw-inpagetabs li {
    position: relative;
    white-space: nowrap;
    font-weight: 700;
    display: inline-block;
}

.rw-inpagetabs li:first-of-type:before {
    content: "";
    height: 3px;
    width: 115em;
    bottom: -3px;
    left: 0;
    position: absolute;
    background: #E4E1DD;
}

.rw-inpagetabs li a {
    position: relative;
    color: inherit !important;
    display: block;
    padding: 1em 0;
    margin-right: 2em;
    outline-offset: -2px;
}

.rw-inpagetabs li.active a:after {
    content: "";
    height: 3px;
    width: 100%;
    bottom: -3px;
    left: 0;
    position: absolute;
    background: var(--rw-accent);
}

.otable-scrolling,
.otable-sticky {
    position: relative;
    overflow: hidden;
}

.otable-scrolling .otable-w1,
.otable-sticky .otable-w1 {
    width: 100%;
    margin-bottom: 1.5em;
}

.otable .otable-w2 {
    width: 100%;
    margin-bottom: 0.8em;
    border-collapse: collapse;
    table-layout: fixed;
}

.cb133 .otable tr {
    vertical-align: top;
}

.otable tr {
    border-bottom: 1px solid rgba(22, 21, 19, 0.1);
}

table tr td,
table tr th {
    font-size: 1.8rem;
    line-height: 1.3;
}

.otable th {
    padding: 1.385em;
}

.otable th {
    text-align: left;
    background: rgba(122, 115, 110, 0.12);
    border-top-color: transparent;
    font-size: 1.2rem;
}

.otable tr {
    border-bottom: 1px solid rgba(22, 21, 19, 0.1);
}

.otable th,
.otable th.bctxt {
    color: rgba(22, 21, 19, 0.6);
}

.cb133 .otable-col-head,
.cb133 .otable-col-head h3 {
    font-weight: 600;
    margin: 0;
    font-family: inherit;
}

.cb133 .otable td,
.cb133 .otable th {
    font-size: 1.6rem;
    padding: 1.2em 1em;
}

.cb133 .otable thead tr th {
    background: #fff;
    text-align: center;
    vertical-align: middle;
}

.otable tr td:first-child {
    border-left-color: transparent;
}

.cb133 .otable tbody tr td:nth-child(odd),
.cb133 .otable tbody tr th {
    background: #fff !important;
    border-bottom: 1px solid rgba(122, 115, 110, 0.2) !important;
}

.cb133 .otable tbody tr td:nth-child(even) {
    background: #F1EFED;
    text-align: center;
    font-style: italic;
    vertical-align: middle;
}

.otable tr td:last-child {
    border-right-color: transparent;
}

.cb133 .otable tbody tr td:nth-child(odd),
.cb133 .otable tbody tr th {
    background: #fff !important;
    border-bottom: 1px solid rgba(122, 115, 110, 0.2) !important;
    vertical-align: middle;
    text-align: center;
}

.cb133 .cb133-download {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -ms-flex-wrap: none;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    font-weight: normal;
    margin-top: -0.55em;
}

.license-link {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
    -ms-flex-wrap: none;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    min-height: 2.3em;
    padding: 0 0.5em;
    overflow: hidden;
    font-weight: normal;
}

.cb133 .cb133-download a {
    max-width: 100%;
}

.license-link:before {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    width: 1em;
    margin-right: 0.4em;
    overflow: hidden;
    font-size: 1.5em;
    line-height: 0.85;
}

.f20 [class^="icn-"]:before,
.f20 [class*=" icn-"]:before {
    font-family: 'redwoodicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ion-link:before {
    content: "\f1fe";
}

.f20 a:hover *:after,
.f20 a:hover:after,
.f20 a:hover *:before,
.f20 a:hover:before,
.f20 a:focus *:after,
.f20 a:focus:after,
.f20 a:focus *:before,
.f20 a:focus:before {
    text-decoration: underline;
}

.f20 a:hover *:after,
.f20 a:hover:after,
.f20 a:hover *:before,
.f20 a:hover:before,
.f20 a:focus *:after,
.f20 a:focus:after,
.f20 a:focus *:before,
.f20 a:focus:before {
    text-decoration: none !important;
}

.col-gutters {
    margin-bottom: -24px !important;
}

.col-framework {
    margin-left: auto;
    margin-right: auto;
}

.col-w1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-flow: row wrap;
    -ms-flex-pack: start;
    justify-content: left;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.col-gutters>.col-w1,
.col-gutters>.cwidth>.col-w1 {
    margin: 0 -12px;
}

.col2 .col-item {
    width: 50%;
    max-width: 50%;
}

.col-gutters .col-item {
    margin: 0 12px 24px;
}

.col-gutters.col2 .col-item {
    width: calc(50% - 24px);
    max-width: calc(50% - 24px);
}

.rc24 h3 {
    font-family: inherit;
    font-weight: 600;
}

.rc24v1 .col-item h3,
.rc24v1 .rc24w2 h3 {
    font-size: 2rem;
    font-weight: 800;
}

.rc24v1 .rc24waterfall .col-item h3 {
    font-size: 1.6rem;
    margin-bottom: 0.444em;
}

.rc24 .obullets,
.rc24 .decimal {
    padding-right: 1em;
}

ul.obullets {
    margin: 0 0 1.1em;
    overflow: hidden;
}

.rc24v1 .col-item>*:last-child {
    margin-bottom: 0;
}

ul.obullets li {
    display: list-item !important;
    padding: 0;
    margin-right: 1.25em;
    margin-bottom: 0.6em;
    position: relative;
    left: 1.25em;
    background: none;
    background-image: none;
}

ul.obullets li:before {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    content: '';
    background-color: currentColor;
    line-height: 0;
    position: absolute;
    left: -1.2em;
    top: 0.2em;
    overflow: hidden;
    transform: scale(0.4);
}

.obttns {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: -1.6rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-flow: row wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.obttns>div {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-flow: row wrap;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 1.6rem 1.6rem 0;
}

.obttns>div:last-of-type {
    margin-right: 0 !important;
}

.obttns a,
.obttns button {
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    line-height: 1.2;
    padding: 1.2rem 1.6rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    border: 0;
    min-height: 4.3rem;
    height: 100%;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-flow: column wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.obttns>div>*,
[class*="-00bg"] .obttns>div>*,
[class*="-10bg"] .obttns>div>*,
[class*="-20bg"] .obttns>div>*,
[class*="-30bg"] .obttns>div>*,
[class*="-40bg"] .obttns>div>*,
[class*="-50bg"] .obttns>div>*,
[class*="-60bg"] .obttns>div>*,
[class*="-70bg"] .obttns>div>*,
[class*="-80bg"] .obttns>div>*,
[class*="-90bg"] .obttns>div>* {
    color: #fff !important;
    background: #312D2A;
}

.obttns>div:hover>a,
.obttns>div>a:link,
.obttns>div>a:hover,
.obttns>div>a:visited,
.obttns>div>a:active,
.obttns>div>a:focus,
.obttns>div:hover button {
    text-decoration: none !important;
}

.ready .obttns a,
.ready .obttns button {
    transition: background .2s, color .3s;
}

.obttns a:after,
.obttns button:after {
    border-radius: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
}

.cb133 .cb133-download button {
    border: none;
}

.cb133 .cb133-download .float {
    margin-left: 15%;
    align-items: center;
}

/* icon link */
.fa-windows:before {
    content: "\f17a";
}

.fa-linux:before {
    content: "\f17c";
}

.fa-android:before {
    content: "\f17b";
}

.fa-apple:before {
    content: "\f179";
}

/* 设置滚动条的样式 */
body::-webkit-scrollbar{
    width: 0;
}

div::-webkit-scrollbar {
    height: 5px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
}

ul::-webkit-scrollbar{
    top: 10px;
    height: 5px;
    border-radius: 5px;
}
ul::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.8);
}