/* body */
* {
    outline: none;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:not([href]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

/* top-nav */
.topbar {
    position: relative;
    z-index: 4;
    box-shadow: 5px 0 10px rgb(0 0 0 / 50%);
    background: #000000;
    text-decoration: none;
}

.nav-bar {
    position: relative;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

.topbar .top-navbar {
    min-height: 70px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
    .navbar-header {
        width: 270px;
        flex-shrink: 0;
    }
}

.topbar .top-navbar .navbar-header {
    line-height: 65px;
    text-align: center;
}

@media (min-width: 768px) {
    .top-navbar .navbar-header {
        position: absolute;
        top: 0;
        margin: 0 auto;
    }
}

.navbar-brand {
    display: inline-block;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 768px) {
    .navbar-header .navbar-brand {
        padding-top: 0;
    }
}

.topbar .top-navbar .navbar-header .navbar-brand {
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.topbar .top-navbar .navbar-header .navbar-brand b {
    line-height: 70px;
    display: inline-block;
    font-weight: bolder;
}

b img {
    vertical-align: middle;
    border-style: none;
    margin-right: 10px;
}

.navigation {
    position: relative;
    width: 420px;
    height: 70px;
    float: right;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.navigation ul li a .icon {
    position: relative;
    line-height: 75px;
    transition: 0.5s;
    font-size: 30px;
}

.navigation ul li.active a .icon {
    font-size: 20px;
    transform: translateY(-6px);
}

.navigation ul li a .icon img {
    width: 30px;
    height: 30px;
}

.navigation ul li a .text {
    position: absolute;
    font-size: 12px;
    color: #fff;
    bottom: 20px;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);
    top: 57%;
}

.navigation ul li.active a .text {
    transform: scale(1);
}

.indicator {
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation ul li:nth-child(1).active~.indicator {
    background: #f53b57;
    box-shadow: 0 15px 25px #f53b5799;
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    background: #05c46b;
    box-shadow: 0 15px 25px #05c46b99;
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    background: #5d62fb;
    box-shadow: 0 15px 25px #5d62fb99;
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    background: #0fbcf9;
    box-shadow: 0 15px 25px #0fbcf999;
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    background: #ffa801;
    box-shadow: 0 15px 25px #ffa80199;
    transform: translateX(calc(70px * 4));
}

.navigation ul li:nth-child(6).active~.indicator {
    background: #18b6b6;
    box-shadow: 0 15px 25px #18b6b699;
    transform: translateX(calc(70px * 5));
}

/* seach-box */
.search-box {
    position: absolute;
    top: 25px;
    left: 70%;
    width: 270px;
    background: #2f3640;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover>.search-btn {
    background: white;
    text-decoration: none;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    padding: 0 6px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 200px;
    margin-left: 10px;
}

@media (max-width: 1024px) {
    .search-txt {
        width: 0px;
        margin-left: 0;
    }

    .search-box:hover {
        width: 270px;
    }

    .search-box:hover>.search-txt {
        width: 200px;
        padding: 0 6px;
    }

    .search-box {
        width: auto;
        transform: translate(-100%);
        left: 97%;
    }
}

@media (min-width: 992px) {

    .mt-lg-0,
    .my-lg-0 {
        margin-top: 0 !important;
    }
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
}


/* footer */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin: 0px 0px 20px;
    padding: 0px;
}

#footer {
    color: rgb(238, 238, 238);
    font-size: 14px;
    background: rgb(0, 0, 0);
}

#footer .footer-top {
    background: rgb(17, 17, 17);
    padding: 60px 0px 30px;
}

.col-lg-3,
.col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {

    .col-md-6 {
        -webkit-box-flex: 0;
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (min-width: 992px) {

    .col-lg-3 {
        -webkit-box-flex: 0;
        max-width: 25%;
        flex: 0 0 25%;
    }
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    line-height: 1;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0px 0px 20px;
    padding: 2px 0px 2px 10px;
    border-left: 4px solid rgb(24, 210, 110);
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
    font-family: Montserrat, sans-serif;
    color: rgb(238, 238, 238);
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 2px;
}

#footer .footer-top h4::before {
    right: 0px;
    background: rgb(85, 85, 85);
}

#footer .footer-top h4::after {
    width: 60px;
    background: rgb(24, 210, 110);
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#footer .footer-top .footer-links ul li {
    border-bottom: 1px solid rgb(51, 51, 51);
    padding: 10px 0px;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0px;
}

#footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: rgb(221, 221, 221);
}

#footer .footer-top .footer-links ul a {
    color: rgb(238, 238, 238);
}

#footer .ion-ios-arrow-right::before {
    content: "";
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer strong {
    font-weight: bolder;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    color: rgb(238, 238, 238);
    line-height: 1;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    background: rgb(51, 51, 51);
    padding: 8px 0px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

#footer .fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: normal normal normal 1 FontAwesome;
}

#footer input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0px;
}

[role="button"],
a,
area,
button,
#footer input:not([type="range"]),
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    appearance: button;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    width: 65%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 6px 8px;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    width: 35%;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(24, 210, 110);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 6px 0px;
    transition: all 0.3s ease 0s;
}

#footer .copyright {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer p {
    padding: 0px;
    margin: 0px 0px 30px;
}


/* back-to-top */
.back-to-top {
    position: fixed;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    z-index: 11;
    background: rgb(24, 210, 110);
    border-radius: 50%;
    transition: background 1s ease 0s;
    font-weight: 400;
}

.back-to-top .fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: normal normal normal normal normal normal normal 1 FontAwesome;
}

.back-to-top i {
    padding-top: 12px;
    color: rgb(255, 255, 255);
}

.fa-chevron-up::before {
    content: "";
}